<!-- Site footer -->
<footer class="site-footer">
  <div class="container">
      <div class="row">
          <div class="col-sm-12 col-md-4">
              <div class="logo">
                  <img src="assets/Images/2.png" alt="Taza FOOD LOGO" id="logo-footer">
              </div>
          </div>
          <div class="col-sm-12 col-md-3">
              <h6 class=" font-weight-bold ">Menu</h6>
              <ul class="footer-links">
                  <li><a>kitchen</a></li>
                  <li><a>Taste</a></li>
                  <li><a>Blog</a></li>
                  <li><a> Recipes</a></li>
              </ul>
          </div>
          <div class="col-xs-6 col-md-2">
              <h6 class="font-weight-">Meet chefs</h6>
              <ul class="footer-links">
                  <li><a>Nama Gmail</a></li>
                  <li><a>Dalia Mohamed</a></li>
                  <li><a>Mona Ahmed</a></li>
                  <li><a>Nada Ali</a></li>
              </ul>
          </div>
          <div class="col-xs-6 col-md-2 ">
              <h6 class="font-weight-bold">Social Media</h6>
              <ul class="social-icons">
                  <li><a class="facebook" href="#"><i class="fa-brands fa-facebook-f" style="color: #ff9046;"></i></a>
                  </li>
                  <li><a class="twitter" href="#"><i class="fa-brands fa-twitter" style="color: #ff9046;"></i></a>
                  </li>
              </ul>
          </div>
      </div>
  </div>
  <div id="bbakeground">
      <div class="container text-center">
          <div class="row">
              <div>
                  <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by
                      <a href="#">Taza Food </a>.
                  </p>
              </div>
          </div>
      </div>
  </div>
</footer>
