<!-- <div mat-dialog-title>Edit Category Date</div><br>
<form [formGroup]="cateform" (ngSubmit)="onSubmit()" >
<div mat-dialog-content class="content">
  <div class="row">
  <mat-form-field appearance="outline">
    <mat-label>CategoryName</mat-label>
    <input matInput type="text" formControlName="CategoryName">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="Description"></textarea>
  </mat-form-field>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-raised-button [mat-dialog-close]="true">Cancel</button>
  <button mat-raised-button style="background-color: rgb(255, 144, 70 );" type="submit" >UpDate</button>
</div>
</form> -->
