<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 col-12" *ngFor="let P of searchResults">
      <div class="product">
        <img [src]="P.imageUrl" alt="">
        <h3>{{P.name}}</h3>
        <div class="price">{{P.price}}&pound;</div>
        <div class="category">{{P.category}}</div>
        <div class="product-icon-btns">
          <a href="#">
            <i class="far fa-heart"></i>
            <span class="product-tooltip">wishlist</span>
          </a>
          <a>
            <i class="fas fa-search"></i>
            <span class="product-tooltip">quick view</span>
          </a>
          <a>
            <i class="fas fa-cart-plus"></i>
            <span class="product-tooltip">add to cart</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
