<!-- <div class="contanier">
  <button type="button" class="btn"  style="color: #fff;" >Add New Admin</button>
 <br>
 <h2>List of Users</h2>
<table class="table  table-striped ">

  <thead>
    <tr>
      <th scope="col" class="theader">ID</th>
      <th scope="col" class="theader">Email</th>
      <th scope="col" class="theader">orders</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orders; let i = index">
      <th scope="row">{{i+1}}</th>
      <td>{{order.email}}</td>
      <td>{{order.orders}}</td>
  </tr>
  </tbody>
</table>
</div> -->
