<!-- <div class="contanier">
  <button type="button" class="btn" style="color: #fff;" (click)="openaddnewadmin()" >Add Admin</button>
  <h2>List of users</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="theader" scope="col" >NO</th>
        <th class="theader" scope="col" >Name</th>
        <th class="theader" scope="col" >Email</th>
        <th class="theader" scope="col" >Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{user.displayName}}</td>
        <td>{{user.email}}</td>
        <td>
          <i class="bi text-warning fs-4 bi-pencil-square" ></i> |
          <i class="bi text-danger fs-4 bi-trash" ></i></td>
      </tr>
    </tbody>
  </table>
  </div> -->
