thead {
  background-color: rgb(255, 144, 70);
}

.contanier{
  align-items: center;
  padding: 2%;
}

.theader{
  background-color: rgb(255, 144, 70);
  color: #fff;
}

.btn{
  background-color: rgb(255, 144, 70);

 }

 .btn:hover{
   background-color: #828282;
   color: #fff;
 }

 h2{
  color: #828282;
}
