<footer class="site-footer">
  <div class="container">
      <div class="row">
          <div class="col-sm-12 col-md-2">
              <div class="logo">

                  <img src="assets/Images/2.png" alt="Taza FOOD LOGO" id="logo-footer">
              </div>
          </div>

          <div class="col-sm-12 col-md-2">
              <h6 class=" font-weight-bold ">Menu</h6>
              <ul class="footer-links">
                  <li><a>kitchen</a></li>
                  <li><a>Taste</a></li>
                  <li><a>Blog</a></li>
                  <li><a> Recipes</a></li>

              </ul>
          </div>

          <div class="col-xs-6 col-md-2">
              <h6 class="font-weight-bold">Meet chefs</h6>
              <ul class="footer-links">
                  <li><a>Nama Gmail</a></li>
                  <li><a>Dalia Mohamed</a></li>
                  <li><a>Mona Ahmed</a></li>
                  <li><a>Nada Ali</a></li>

              </ul>
          </div>

          <div class="col-xs-6 col-md-2  justify-content-center">
              <h6 class="font-weight-bold">SocialMedia</h6>
              <ul class="social-icons">
                  <li><a class="facebook" href="#"><i class="fa-brands fa-facebook-f" style="color: #ff9046;"></i></a>
                  </li>
                  <li><a class="twitter" href="#"><i class="fa-brands fa-twitter" style="color: #ff9046;"></i></a>
                  </li>
              </ul>
          </div>
          <div class="col-xs-6 col-md-4  justify-content-center gap-2"  >
              <h3>Feedback</h3>
              <input type="text" placeholder="Message" id="contact" [(ngModel)]="message">
              <button class="btn btn-secondary m-3" id="contact1" (click)="senddata()">Send</button>
          </div>
      </div>

  </div>
  <div id="bbakeground">
      <div class="container">
          <div class="row">
              <div class="col-md-8 col-sm-6 col-xs-12">
                  <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by
                      <a href="#">Taza Food </a>.
                  </p>
              </div>

              <div class="col-md-4 col-sm-6 col-xs-12">

              </div>
          </div>
      </div>
  </div>
</footer>
